/************ icon font ***************/
:global{
    @import "icon-font-variables";
    @import 'icon-font';
}
/************* varialbles ******************/
$light-grey: #efefef;

body {
    background: $light-grey;
}

a {
    text-decoration: none;
} 