/* @font-face {
  font-family: 'Test-Icon-Font';
  src:  url('./fonts/Test-Icon-Font.eot?b6srph');
  src:  url('./fonts/Test-Icon-Font.eot?b6srph#iefix') format('embedded-opentype'),
    url('./fonts/Test-Icon-Font.ttf?b6srph') format('truetype'),
    url('./fonts/Test-Icon-Font.woff?b6srph') format('woff'),
    url('./fonts/Test-Icon-Font.svg?b6srph#Test-Icon-Font') format('svg');
  font-weight: normal;
  font-style: normal;
} */

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  &:before {font-family: 'Test-Icon-Font' !important;}
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart {
  &:before {
    content: $icon-heart;
  }
}
.icon-camera {
  &:before {
    content: $icon-camera;
  }
}
.icon-export {
  &:before {
    content: $icon-export;
  }
}
.icon-magnifier {
  &:before {
    content: $icon-magnifier;
  }
}
.icon-bracket {
  &:before {
    content: $icon-bracket;
  }
}
.icon-checkmark {
  &:before {
    content: $icon-checkmark;
  }
}
.icon-bell {
  &:before {
    content: $icon-bell;
  }
}
.icon-arrow {
  &:before {
    content: $icon-arrow;
  }
}
.icon-nudge {
  &:before {
    content: $icon-nudge;
  }
}
.icon-comment {
  &:before {
    content: $icon-comment;
  }
}
.icon-flag {
  &:before {
    content: $icon-flag;
  }
}

