$icon-font-path: "../assets" !default;

$icon-heart: "\e900";
$icon-camera: "\e901";
$icon-export: "\e902";
$icon-magnifier: "\e903";
$icon-bracket: "\e904";
$icon-checkmark: "\e905";
$icon-bell: "\e906";
$icon-arrow: "\e907";
$icon-nudge: "\e908";
$icon-comment: "\e909";
$icon-flag: "\e90a";
