/************ icon font ***************/
:global{
    @import "icon-font-variables";
    @import 'icon-font';
}

/************ utils **************/
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/************* varialbles ******************/
$light-grey: #efefef;
$middle-grey: #b1b1b1;
$middle-grey-darker: #a5a4a9;
$dark-grey: #333333;
$brown: #36231f;
$brand-color: #ea352d;

/************* branding and reset ***************/
::selection {
    color: white;
    background: $brand-color;
}

input[type=text], textarea {
    outline: none;
    border: 1px solid transparent;

    &:focus {
        box-shadow: 0 0 5px $brand-color;
        border: 1px solid $brand-color;
    }
}

* {
    border: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/************ global styles ************/
body {
    background: $light-grey;
    font-family: "Source Sans Pro", "Hiragino Kaku Gothic Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
    color: $dark-grey;
}

.icon-button {
    &:before { 
        font-size: 1rem;
    }
    font-size: 0;

    &.icon-bell:before,
    &.icon-bracket:before,
    &.icon-magnifier:before,
    &.icon-export:before {
        font-size: 1.5rem;
    }
}

#root {
    max-width: 414px;
    margin: 0 auto;
}
 



